In [1]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv(r"D:\Python life\Covid-19 Dataset Analysis\file.csv")

In [24]:
data

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [25]:
data.head(1)

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252

### Q. 1) Show the number of Confirmed, Deaths and Recovered cases in each Region.

In [26]:
data.groupby("Region").value_counts()

Region     Date       State                         Confirmed  Deaths  Recovered
Australia  4/29/2020  Australian Capital Territory  106        3       101          1
                      New South Wales               3016       40      2284         1
                      Western Australia             551        8       507          1
                      Victoria                      1361       18      1291         1
                      Tasmania                      219        12      144          1
                                                                                   ..
US         4/29/2020  Montana                       451        16      0            1
                      Missouri                      7660       338     0            1
                      Mississippi                   6569       250     0            1
                      Minnesota                     4644       319     0            1
                      Wyoming                       545        7       0            1
Name: count, Length: 140, dtype: int64

### Q. 2) Remove all the records where the Confirmed Cases is Less Than 10.

In [22]:
data.Confirmed = (data.Confirmed < 10).dropna()

In [17]:
data

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan      False      60        252
1    4/29/2020       NaN         Albania      False      30        455
2    4/29/2020       NaN         Algeria      False     444       1702
3    4/29/2020       NaN         Andorra      False      42        423
4    4/29/2020       NaN          Angola      False       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US      False       7          0
317  4/29/2020  Xinjiang  Mainland China      False       3         73
318  4/29/2020     Yukon          Canada      False       0          0
319  4/29/2020    Yunnan  Mainland China      False       2        181
320  4/29/2020  Zhejiang  Mainland China      False       1       1263

[321 rows x 6 columns]

### Q. 3) In which Region, maximum number of Confirmed cases were recorded ?

### Q. 4) In which Region, minimum number of Deaths cases were recorded ?

### Q. 5) How many Confirmed, Deaths & Recovered cases were reported from India till 29 April 2020 ?

### Q. 6-A ) Sort the entire data wrt No. of Confirmed cases in ascending order.

### Q. 6-B ) Sort the entire data wrt No. of Recovered cases in descending order.